# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

docs/emergence-paper.aux
docs/emergence-paper.log
docs/emergence-paper.pdf

Emergence_Debug
Emergence_Release

GPATH
GRTAGS
GTAGS

analysis.txt
gmon.out

*.xcf

# User files
*.user
.ccls-cache/

callgrind.out.46378
shaders/half_life_shader.glsl
vgcore.42716
